html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $text;
  font-family: 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 1.2rem;
  background-color: #fffefd;
}

a {
  text-decoration: none;
  cursor: pointer;
}

svg path {
	fill:inherit;
	stroke:inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: flex;
}

.indent-0 {
  margin: 0;
  padding: 0;
}

.logo {
  display: block;

  &__img {
    height: 50px;
  }
}

.title {
  margin-bottom: 60px;
  font-family: 'Arial Black', sans-serif;
  font-size: 36px;
  line-height: 1.3em;
}

.btn {
  display: block;
  padding: 15px 30px;
  width: fit-content;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgb(117, 26, 117);
  border-radius: 15px;

  &--m0a {
    margin: 0 auto;
  }
}