.promo {
  position: relative;
  padding: var(--padding);
  overflow: hidden;

  &__video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -100;
  }

  &__title {
    padding: 15px 0 15px 8%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__inner {
    justify-content: space-between;

    @include tablet-down  {
      flex-direction: column;
    }
  }

  &__img {
    margin: 0 5%;
    max-width: 250px;
    object-fit: cover;

    @include tablet-down  {
      margin: 0 auto 3%;
    }
  }

  &__descr {
    padding: 40px 20px 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);

    @include phone-down  {
      padding-top: 20px;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  &__list {
    list-style: none;
    margin-bottom: 35px;
  }

  &__item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 25px;

    &::before {
      background-image: url(../img/check-white.svg);
      background-size: cover;
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      width: 18px;
      height: 18px;
    }
  }
}