.promo {
  position: relative;
  padding: 70px 0;
  overflow: hidden;

  &__video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -100;
  }

  &__title {
    padding: 15px 0 15px 8%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__inner {
    justify-content: space-between;
  }

  &__img {
    margin: 0 5%;
  }

  &__descr {
    position: relative;
    padding: 40px 20px 20px;
    height: fit-content;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
    }

    &::before {  
      top: 0;
      left: -15px;
      border-left: 5px solid $yellow;
      border-top: 5px solid $yellow;
    }

    &::after {
      bottom: -30px;
      right: -15px;
      border-right: 5px solid $yellow;
      border-bottom: 5px solid $yellow;
    }
    
    &--inverse {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.6);
      height: auto;

      &::before,
      &::after {
        display: none;
      }
    }

  }

  &__list {
    list-style: none;
    margin-bottom: 35px;
  }

  &__item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 25px;

    &::before {
      background-image: url(../img/check.png);
      background-size: cover;
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      width: 18px;
      height: 18px;
    }
  }
}